services:
  db:
    image: postgres:14-alpine
    restart: always
    volumes:
      - ${my_volumes_root}/nextcloud_db:/var/lib/postgresql/data
    env_file:
      - nextcloud-db.env

  redis:
    image: redis:alpine
    restart: always

  app:
    image: nextcloud:27-apache
    restart: always
    # ports:
    #   - 8080:80 # Just for debugging
    volumes:
      - ${my_volumes_root}/nextcloud_root:/var/www/html
      - ${my_volumes_root}/nextcloud_data:/var/www/html/data
    environment:
      - POSTGRES_HOST=db
      - REDIS_HOST=redis
      - VIRTUAL_HOST=cloud
      - NEXTCLOUD_TRUSTED_DOMAINS=cloud.lan cloud cloud.local
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=password
      # - OVERWRITEPROTOCOL=https
      # - OVERWRITEWEBROOT=/nextcloud/
    env_file:
      - nextcloud-db.env
    depends_on:
      - db
      - redis

  # cron:
  #   image: nextcloud:27-apache
  #   restart: always
  #   volumes_from:
  #     - app
  #   entrypoint: /cron.sh
  #   depends_on:
  #     - db
  #     - redis

  proxy:
    image: nginx
    # restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ${my_volumes_root}/certs/:/etc/nginx/certs/:ro
      - ./static/:/etc/nginx/html/:ro
      - ./nginx-conf.d/:/etc/nginx/conf.d:ro
    depends_on:
      - app
      - photoprism
